{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
            {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
        {{ login_form.as_p }}
        <br>
        <input class="btn btn-round form-control default-ent" type="submit" value="Войти">
    </form>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-round form-control google">
     Google+ sign in
    </a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-round form-control vk">
     Вход через ВКонтакте
    </a>
{% endblock %}