{% extends 'mainapp/base.html' %}
{% block title %}
<title>Смартфон Samsung Galaxy S9 Plus 256GB</title>
{% endblock title %}
{% block menu %}
{% include 'mainapp/includes/inc_menu.html' %}
{% endblock menu %}
{% block content %}
{% load static %}
 <h1>Смартфон Samsung Galaxy S9 Plus 256GB</h1>
            <div class="photo-set">

                <div class="prev-set">
                    <h3 class="ful-h-goods easyset">Описание товара</h3>
                    <ul class="short-set">
                        <li>смартфон с Android 8.0</li>
                        <li>поддержка двух SIM-карт</li>
                        <li>экран 6.2", разрешение 2960x1440</li>
                        <li>двойная камера 12 МП/12 МП, автофокус</li>
                        <li>память 256 Гб, слот для карты памяти</li>
                        <li>3G, 4G LTE, LTE-A, Wi-Fi, Bluetooth, NFC, GPS, ГЛОНАСС</li>

                    </ul>
                    <div class="buy-goods">
                    <form action="">
                    <button type="submit" class="buy">КУПИТЬ</button>
                    </form>
                    </div>
                </div>
            </div>



            <a href="#top" class="top-anchor">Наверх</a>
{% endblock content %}
